
a, a:link
  cursor pointer

body
  padding-top 60px

table
  tfoot, tbody
    th
      border-top 1px solid #DDD

footer
  padding-bottom: 30px



#content {
  H1, H2, H3, H4, H5, H6 {
    &.autolink {
      position: relative;
    }

  }
}

.header

.autolink {
  &:hover {
    .permalink {
      display: block;
      text-decoration: none;
      display: block;
      position: absolute;
      margin-left: -15px;
      padding-left: 0;

    }
    .icon-link {

      display: inline-block;
    }
  }
  .icon-link {

    display: none;
  }
  .permalink {
    display: block;
    position: absolute;
    padding-left: 30px;
    margin-left: -30px;
    top: 0;
    left: 0;
    bottom: 0;
  }
  .icon-link::before {
    content: '&';
  }
}
