
:markdown
  ### **Disclaimer**

  > All information, thought, and code described here is intended for
  > informational and educational purposes only. Use of code from
  > github.com/rnpenguin is without warranty or support of any kind.
  > Please review the LICENSE found within each repository for further
  details. Do not use the information or code to make medical decisions.

  Most likely, you will find yourself with a broken Dexcom receiver.
  The reciever's USB port was not intended to be used often.  Even
  careful users report broken USB ports.
