--- yaml
layout: 'default'
title: 'Home'
HideNav: true
---

.jumbotron
    h1 Nightscout aka, CGM in the Cloud
    p.intro: :markdown
      We are not waiting to put our CGMs in the cloud and monitor our devices.
      
      This is a website run by a community of `DIY`ers to put their
      CGMs and insulin pumps in the cloud.

      * **Highly experimental and not intended for therapy.**
      * **Use at your own risk.**
      * **Intended only as an investigational and educational tool to
        learn about this technology.**


// Example row of columns.
.row
  .col-md-6
    div: :markdown
      ## What is Nightscout?
        Nightscout is a cloud application, which you can install yourself using free hosting from various
        cloud service providers. Once installed, Nightscout
        acts as a central repository of blood glucose and insulin dosing data for a single person,
        allowing you to view the CGM graph and other data anywhere using a web browser.

        The CGM data is sent to Nightscout using an _uploader application_ such as xDrip+ or Spike,
        running on a mobile phone carried by the person being monitored. The application you'll need
        for uploading the data depends on which CGM device you're using.

        In addition to viewing the data using a web browser, there are several
        applications available for mobile devices and smart watches, which allow you alternate
        ways to view the information.

        Once you have Nightscout up and running, you'll get a view that looks something close to this:

        ![Nightscout](/images/nightscout.jpg)     

  .col-md-6
    div: :markdown
      ## How can I get Nightscout?
      Every Nightscout user installs the service for themselves (and yes, even non-technical people
      can do this). See below for links to installation guides and peer support.
      *  [Installation guide](http://www.nightscout.info/wiki/welcome/set-up-nightscout-using-heroku)
         Read the installation and configuration guides at Nightscout.info
      *  [Installation video](https://www.youtube.com/watch?v=sUf8ie65fqg&t=494s)
         The installation process as a video guide, to help deciper the documentation
      *  [Facebook group](https://www.facebook.com/groups/cgminthecloud/)
         Visit the Facebook group for peer support on installation and troubleshooting.
      *  [Gitter support chat](https://gitter.im/nightscout/public)
  .col-md-6
    div: :markdown
      ## Projects we love
      * [xDrip+](https://github.com/NightscoutFoundation/xDrip)
         xDrip+ is an Android application, with the ability to capture CGM data from a
         wide variety of Bluetooth sources and upload the data to Nightscout.
      * [Spike](https://spike-app.com)
         Spike is an iOS application, with the ability to capture CGM data from a
         wide variety of Bluetooth sources and upload the data to Nightscout.
      * [640GAndroidUploader](http://pazaan.github.io/600SeriesAndroidUploader/)
         An Android uploader application for Medtronic 600-series insulin pump users.
      *  [OpenAPS](https://openaps.org)
         OpenAPS is a DIY Artificial Pancreas. See their site for excellent writeups on the design
         of the system for safety and ideal treatment outcomes.
      * [AndroidAPS](https://androidaps.readthedocs.io/en/latest/EN/)
         AndroidAPS is an Android application, which implements the OpenAPS oref0/oref1
         algorithm, along with a host of other features.
      * [Loop](https://loopkit.github.io/loopdocs/)
         Loop is an iOS based DIY artificial pancreas, based on it's own algorithm.
  .col-md-6
    div: :markdown
      ## Other
      Suite of projects that compose Nightscout.
      * [Nightscout update tool](pages/update-fork/)
      * [cgm-remote-monitor](https://github.com/nightscout/cgm-remote-monitor)
      * [Android-Uploader](https://github.com/nightscout/android-uploader)
      * [pebble-cgm](https://github.com/jasoncalabrese/cgm-pebble)
      * [This website](https://github.com/nightscout/nightscout.github.io)

      Social media / friends
      * [#wearenotwaiting @ Twitter](https://twitter.com/hashtag/wearenotwaiting?src=hash)
      * [Our Friends: Tidepool](https://tidepool.org/)
      * [Our Friends for Life: Children with Diabetes](https://www.childrenwithdiabetes.com/)      
