--- yaml
layout: 'default'
title: 'Home'
HideNav: true
---

.jumbotron
    h1 Nightscout aka, CGM in the Cloud
    p.intro: :markdown
      We are not waiting to put our CGMs in the cloud.
      
      This is a website run by a community of `DIY`ers to put their
      Dexcom CGM in the cloud.

      * **Highly experimental.**
      * **Not intended for therapy.**
      * **Use at your own risk.**
      * **Intended only as an investigational and educational tool to
        learn about this technology.**


// Example row of columns.
.row
  .col-md-6
    div: :markdown
      ## Guides
    a.btn.btn-default(href="posts/01-quickstart") Quickstart
    a.btn.btn-default(href="https://github.com/nightscout/nightscout.github.io/wiki") Visit wiki 
  .col-md-6
    div: :markdown
      ## Groups
      *  [Facebook group](https://www.facebook.com/groups/cgminthecloud/)
         See Facebook group for community of other people attempting
         building their own nightscout rigs.
      *  [#wearenotwaiting](https://twitter.com/hashtag/wearenotwaiting?src=hash)
      *  [DiabetesMine](http://www.diabetesmine.com/we-are-not-waiting)
      *  [User Discussion Forums For Install Questions etc](http://www.nightscout.info/forum/)
  .col-md-6
    div: :markdown
      ## Github (the code)
      Suite of projects that compose Nightscout.
      * [dexcom-uploader](https://github.com/nightscout/dexcom-uploader)
      * [cgm-remote-monitor](https://github.com/nightscout/cgm-remote-monitor)
      * [pebble-cgm](https://github.com/jasoncalabrese/cgm-pebble)
      * [project-glu](https://github.com/jasoncalabrese/project-glu) - Our
        experiments using `REST` api.
      * [This website](https://github.com/nightscout/nightscout.github.io)
      * [trello](https://trello.com/b/AL0kioCf/wearenotwaiting-core-dev)
      * [#hackingtype1](http://hackingtype1.com/) - Some background on why.

  .col-md-6
    div: :markdown
      ## Docs
      Nightscout is an open source, community project, which depends on
      contributions from people like you.
      Confused? [File an issue!](https://github.com/nightscout/nightscout.github.io/issues)
      * [wiki-a knowledge desk](https://github.com/nightscout/nightscout.github.io/wiki)
      * [NightScout Uploader Devices](https://github.com/nightscout/nightscout.github.io/wiki/NightscoutUploaders): Phones, Tablets, Set Top Boxes
      * [Carriers](https://github.com/nightscout/nightscout.github.io/wiki/Carriers)
      
    p
  .col-md-6
    div: :markdown
      ## Posts
    ul
      each doc in getCollection('posts').toJSON()
        li
          span= doc.date.toDateString()
          |  &raquo;&nbsp;
          a(href=doc.url)= doc.title
  .col-md-6
    div: :markdown
      ## Quickstart
    ul
      each doc in getCollection('quickstart').toJSON()
        li
          span= doc.date.toDateString()
          |  &raquo;&nbsp;
          a(href=doc.url)= doc.title

